.rabelo-color {
    background-color: #F26522;
}

.rabelo-color-dark {
    background-color: #D35400;
}

header nav {
    height: 80px;
}

#sub-header {
    height: 50px;
}

#rabelo-logo {
    height: 70%;
    width: 70%;
}

#header-nav div ul li a {
    font-size: 130%;
    font-weight: bold;
}

#sub-header div ul li a {
    font-weight: bold;
}

#header-nav-menu li a, #header-nav-menu li i, #sub-header li > a {
    color: #ffffff;
}

.vertical-row {
    height: 50px; /*Altura da linha*/
    border-left: 1px solid #000000; /* Tamanho da linha.*/
    opacity: 0.5;
}

#cart-dropdown {
    width: 300%;
}

footer {
    width:100%;
    margin: auto auto;
    color: #ffffff;
}

.font-weight-bold {
    font-weight: bold;
}

.text-uppercase {
    text-transform: uppercase;
}

footer a {
    color: #ffffff;
}

a:link { 
    text-decoration:none; 
} 

#header-nav div ul li:hover a,
#header-nav div ul li:hover a > i:not(#cart):not(#cart-) {
    color: darkblue;
}

footer a:hover {
    color: darkblue;
}

#sub-header > a:hover {
    background-color: #F26522;
}

#navbarDropdown:hover {
    background-color: #F26522;

}

.dropdown-menu > a:hover {
    background-color: rgb(216, 216, 216);
}

#dropdown-item {
    color: #000000;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

#dropdown-subheader {
    width: 270px;
}

#content {
    padding: 25px 25px;
}

.card {
    padding: 25px 25px;
}

#login {
    margin-bottom: 10px;
}

.btn {
    background-color: darkblue;
    border: solid 1px darkblue;
}

.btn:hover {
    background-color: blue;
    border: solid 1px blue;
}

#required {
    color: red;
}